<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>
    <body>

        <h1>Login Page (to be done)</h1>
        <form action="user/login" method="POST">
            <input type="firstname" name="first_name" placeholder="First Name">
            <input type="lastname" name="last_name" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" value="login">Login</button>
        </form>

        <h2> <a href="{{ url_for('register') }}"> Don't have an account? Register here</a> </h2>
    </body>
</html>