<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <title>Main Page</title>
    <style>

.navbar .nav-link.l:hover {
    transition: background-color 0.3s ease;
      color: #4e8fcc ;

  }

    </style>
</head>

<body>
<nav style="font-family: Calibri; font-size: large" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div style="margin-left: 10%; margin-right: 40% " class="navbar-brand" href="#"><span style="font-weight: bold">AFM</span> <br>
      <span style="color: #545252; ">Austrian Flood Monitoring System</span></div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  class="collapse navbar-collapse m-2" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a style="color: #4e8fcc;   background-color: #d7e1f3"   class="nav-link " href="{{ url_for("main")}}">Map <span class="sr-only"></span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link l" href="{{url_for("report" )}}">Report</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link l" href="#">Profile</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link l" href="{{url_for("login")}}">Sign in</a>
      </li>

    </ul>
  </div>
</nav>

<div id = "map" style = "width: 100%; height: 605px"></div>
<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
    var mapOptions = {
                    center: [47, 14.3738],
                    zoom: 7
                 }
                 var map = L.map('map').setView([47.5, 13.5], 7);

    // OpenStreetMap as a base map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

    // A layer from open government database
    L.tileLayer.wms("https://gis.lfrz.gv.at/wmsgw/?key=460276c6b17d485ea29604196d48fb5a&service=WMS&version=1.3.0&request=GetLegendGraphic&format=image%2Fpng&width=20&height=20&layer=pegelaktuell", {
            layers: 'pegelaktuell',
            format: 'image/png',
            transparent: true,

        }).addTo(map);
    // Legend
    var legend = L.control({ position: 'bottomright' });
    legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info legend');
    div.style.backgroundColor = 'white';
    div.style.padding = '5px'
    div.innerHTML = `
      <strong>Legend</strong><br>
      <img src="https://gis.lfrz.gv.at/wmsgw/?key=460276c6b17d485ea29604196d48fb5a&service=WMS&version=1.3.0&request=GetLegendGraphic&format=image%2Fpng&width=100&height=100&layer=pegelaktuell" alt="Legend" />
<span>pegelaktuell</span>
    `;
    return div;
  };
  legend.addTo(map);

</script>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
