<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
<link href="https://cdn.jsdelivr.net/gh/aazuspan/leaflet-feature-legend/src/feature-legend.css" rel="stylesheet" />
   <title>Main Page</title>
    <style>
        .navbar .nav-link.m {
          color: #4e8fcc; background-color: #d7e1f3
        }
         html, body {
            height: 100%;
            margin: 0;
        }
        #map {
            width: 100%;
            height: 90%;
        }

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.2/proj4.js"></script>
</head>

<body>
{% include "navbar.html" %}
<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }} mt-3">
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}
</div>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

<script>

    var reports = [];
    var home_address
    {% if current_user.agent or current_user.manager and not current_user.is_super_admin%}
    home_address = "{{ current_user.user.home_address }}"
    {% else %}
    home_address = "{{ current_user.home_address }}"
    {% endif %}
   const currentUser = {
        id: "{{ current_user.uid }}",
       location: home_address
    };
    {% for report in reports %}
            var reportdet = {
            id: "{{ report.id }}",
            location: "{{ report.location }}",
            description: "{{ report.description }}",
            photo_file: "{{ report.photo_file if report.photo_file else '' }}",
                creator_id:"{{ report.creator_id }}",
                 status:"{{ report.status}}"
        };
        reports.push(reportdet);
    {% endfor %}


</script>
{% if current_user.agent or current_user.manager or current_user.is_owner %}
<script src="{{ url_for('static', filename='scripts/mainpage_manager.js') }}"></script>
{% elif current_user.is_authenticated %}
    <script type = "module" src="{{ url_for('static', filename='scripts/mainpage_registered.js') }}"></script>
    {% else %}
<script src="{{ url_for('static', filename='scripts/mainpage_user.js') }}"></script> <!-- based on location displayes reports -->
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>
