<style>
  /* Changes background color of links on hover */
  .navbar .nav-link.h:hover {
    transition: background-color 0.3s ease;
      color:#4e8fcc ;

  }

.navbar .nav-link.s:hover {
    transition: background-color 0.3s ease;
      color:#4e8fcc ;

  }
#navbarDropdown:hover {
    transition: background-color 0.3s ease;
      color: #4e8fcc ;

  }
.navbar .nav-link.p:hover {
    transition: background-color 0.3s ease;
      color: #4e8fcc ;

  }
</style>
<nav style="font-family: Calibri; font-size: large" class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div style="margin-left: 10%; " class="navbar-brand" href="#"><span style="font-weight: bold">AFM</span> <br>
      <span style="color: #545252; ">Austrian Flood Monitoring System</span></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="margin-left: 45%" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color: #4e8fcc" class="nav-link h" href="/">Map <span class="sr-only"></span></a>
      </li>

     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">See reports</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Create new repor</a>
        </div>
      </li>
        <li class="nav-item active">
        <a class="nav-link p" href="#">Profile</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link s" href="{{url_for("login")}}">Sign in</a>
      </li>

    </ul>
  </div>
</nav>
