<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-{{ messages[0][0] }} mt-3">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6">
                {% if report.photo_file %}
                    <img src="{{ url_for('static', filename= report.photo_file) }}" alt="Report Image" style="width: 100%">
                {% else %}
                    <img src="{{ url_for('static', filename='no_image.jpg') }}" alt="No Image" class="post-image" style="width: 100%">
                {% endif %}
            </div>

            <div class="col-md-6" style="position: relative">
                <span id="location">{{ location }}</span> <i style="color: green; font-size: large" class="bi bi-geo-alt-fill"></i>
                <br><br>
                <span id="user">{{ creator_name }}</span> <i style="color: green; font-size: large" class="bi bi-person-fill"></i>
                <br><br>
                <h5>Description of an incident </h5>
                <div>{{ report.description }}</div>
                <br><br>
                <div style="display: flex; justify-content: space-between; position: absolute; bottom: 10px; gap:30px">
                    <div><i class="bi bi-calendar3"></i> <span>{{ report.created_at.strftime('%B %d, %Y, %H:%M') }}</span></div>
                    {% if manager or is_super_admin %}
                        <span>{{ urgency }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if manager or is_super_admin %}
            <br>
            <div class="row justify-content-center">
                <div class="col-auto">
                    {% if report.status == 'OPEN' %}
                        <form method="POST" class="me-3">
                            <button type="submit" name="action" value="resolve" class="btn btn-dark btn-lg">Resolve</button>
                        </form>
                    {% elif report.status == 'RESOLVED' or report.status == '' %}
                        <form method="POST">
                            <button type="submit" name="action" value="open" class="btn btn-dark btn-lg">Set status to Open</button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-auto">
                    {% if report.status == 'OPEN' %}
                        <form method="GET" action="{{ url_for('task.create_task', report_id=report.id) }}" enctype="multipart/form-data">
                            <button type="submit" name="action" class="btn btn-dark btn-lg">Create Task</button>
                        </form>
                         {% endif %}
                </div>
            <div class="col-auto">
                     <form method="GET" action="{{ url_for('report.start_chat', report_id=report.id) }}">
                <button type="submit" class="btn btn-dark btn-lg">
                    {% if not report.chat %}
                        Start Chat
                    {% else %}
                        View Chat
                    {% endif %}
                </button>
            </form>
                </div>
            </div>

        {% endif %}
      {% if current_user.agent and report.chat%}
            <br>
            <div class="row justify-content-center">
            <div class="col-auto">
                     <form method="GET" action="{{ url_for('main.view_chat', chat_id = report.chat.id) }}">
                <button type="submit" class="btn btn-dark btn-lg">View Chat
                </button>
            </form>
                </div>
            </div>
          {% elif current_user.uid == report.creator.uid and report.chat %}
           <br>
 <div class="row justify-content-center">
            <div class="col-auto">
                     <form method="GET" action="{{ url_for('main.chat', chat_id = report.chat.id) }}">
                <button type="submit" class="btn btn-dark btn-lg">View Chat
                </button>
            </form>
                </div>
            </div>
      {% endif %}

    <script>
        function updateScore(elem) {
            const score = elem.value;
            console.log("Score being sent:", score);

            var reportid = "{{ report.id }}";
            fetch(`/score_report/${reportid}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ score: parseInt(score) })
            })
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
