<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dy8twfI2rYdtmdWlKQh1fJ0Ylo6vXILcoTq9mcptNheIqlO0Dsc8kZb0ztldFrb7JtB9vTv6D6hdO8zl+7bqg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>View Tasks</title>
    <style>
        .navbar .nav-link.vr {
            color: #4e8fcc; background-color: #d7e1f3;
        }
        .task-card {
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 12px;
            margin-bottom: 16px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .task-card .task-info {
            display: flex;
            justify-content: center;
        }
        .task-card .task-info p {
            margin: 0;
        }
        .task-card .task-info .task-name {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .task-info .text-truncate {
            width: 200px;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0px;
        }
        .gap-2 {
            gap: 8px;
        }
       .badge {
    font-size: 0.875rem;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: normal;
}

.open {
    background-color: #fff3cd; /* Yellowish */
    color: #856404;
}

.requires-clarification {
    background-color: #ffe8e8; /* Light Red */
    color: #b71c1c;
}

.in-progress {
    background-color: #cce5ff; /* Light Blue */
    color: #004085;
}

.resolved {
    background-color: #d4edda; /* Light Green */
    color: #155724;
}

.unknown {
    background-color: #e2e3e5; /* Gray */
    color: #6c757d;
}
        .delete-btn {
            color: #dc3545;
            font-size: 1.25rem;
            cursor: pointer;
        }
        .delete-btn:hover {
            color: #c82333;
        }
        .edit-btn, .end-btn {
            font-size: 1.25rem;
            cursor: pointer;
        }
        .edit-btn:hover, .end-btn:hover {
            color: #007bff;
        }
        #selectedAgents {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
        }


#selectedAgents .badge {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 14px;
}

#selectedAgents .badge i {
    margin-left: 5px; /* Space between text and the "x" icon */
}
    </style>
</head>
<body>
{% include "navbar.html" %}
<div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }} mt-3">
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}
</div>
<div class="container my-5">

    <form method="GET" action="{{ url_for('task.view_tasks') }}" class="row mb-4">

        <div class="col-md-2">
            <label for="status" class="form-label">Filter by Status</label>
            <select name="status" id="status" class="form-select">
                <option value="">All</option>
                    <option value="OPEN" {% if status == "OPEN" %}selected{% endif %}>Open</option>
    <option value="REQUIRES_CLASSIFICATION" {% if status == "REQUIRES_CLARIFICATION" %}selected{% endif %}>Clarification required</option>
    <option value="IN_PROGRESS" {% if status == "IN_PROGRESS" %}selected{% endif %}>In progress</option>
    <option value="RESOLVED" {% if status == "RESOLVED" %}selected{% endif %}>Resolved</option>
</select>
        </div>
        <div class="col-md-2">
            <label for="sort" class="form-label">Sort by Date</label>
            <select name="sort" id="sort" class="form-select">
                <option value="newest" {% if sort == "newest" %}selected{% endif %}>Newest First</option>
                <option value="oldest" {% if sort == "oldest" %}selected{% endif %}>Oldest First</option>
            </select>
        </div>

        <div class="col-md-1 d-flex align-items-end">
            <button type="submit" class="btn btn-dark w-100">Filter</button>
        </div>
    </form>

    {% for task in tasks %}
    <div class="task-card">
        <div class="task-info" style="margin-right: 20px">
            <div>
                <p class="task-name">{{ task.task.name }}</p>

            </div>


            <div style="margin-left: 20px">

 <p class="text-truncate">{{ task.task.description or 'No Description' }}</p>
            </div>
        </div>

        <div class="d-flex align-items-center">
    <span class="badge
    {% if task.task.status == 'OPEN' %}open
    {% elif task.task.status == 'REQUIRES_CLARIFICATION' %}requires-clarification
    {% elif task.task.status == 'IN_PROGRESS' %}in-progress
    {% elif task.task.status == 'RESOLVED' %}resolved
    {% else %}unknown{% endif %}">
    {% if task.task.status == 'OPEN' %}Open
    {% elif task.task.status == 'REQUIRES_CLARIFICATION' %}Clarification required
    {% elif task.task.status == 'IN_PROGRESS' %}In progress
    {% elif task.task.status == 'RESOLVED' %}Resolved
    {% else %}Unknown{% endif %}
</span>
</div>

        <div >
               <a href="{{ url_for('report.manage_report', report_id=task.task.reports[0].id) }}" style=" text-decoration: none;">Link to associated report</a>

        </div>

        <div class="d-flex align-items-center gap-2">


            <a href="#" class="edit-btn" id="edit{{task.task.id}}" data-bs-toggle="offcanvas" data-bs-target="#TaskOffcanvas{{ task.task.id }}">
                <i class="bi bi-pencil-square"></i> Edit
            </a>

            <form method="POST" action="{{ url_for('task.delete_task', task_id=task.task.id) }}" style="display:inline;">
                <input type="hidden" name="action" value="delete">
                <button type="submit" class="btn delete-btn" title="Delete Task">
                    <i class="bi bi-trash3"></i>
                </button>
            </form>
        </div>
    </div>

 <div class="offcanvas offcanvas-end" tabindex="1" id="TaskOffcanvas{{ task.task.id }}" aria-labelledby="editTaskOffcanvasLabel{{ task.task.id }}">
            <div class="offcanvas-header">
                <h5 id="editTaskOffcanvasLabel{{ task.task.id }}">Edit Task: {{ task.task.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="POST" action="{{ url_for('task.update_task', task_id=task.task.id) }}" id ="form{{ task.task.id }}" >
                     <div class="mb-3">
        <label for="name" class="form-label">Title</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Title of the task" value="{{ task.task.name }}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Describe task</label>
          <textarea class="form-control" id="description" name="description" rows="3" maxlength="1000" placeholder="Describe the task (max 1000 characters)"> {{ task.task.description|trim}}</textarea>
        <div id="charCount" class="form-text">0/1000 characters</div>
    </div>
  <div class="mb-3">
    <label for="status" class="form-label">Task Status</label>
    <select id="status" name="status" class="form-select">
        <option value="OPEN" {% if task.task.status == 'OPEN' %}selected{% endif %}>Open</option>
        <option value="REQUIRES_CLARIFICATION" {% if task.task.status == 'REQUIRES_CLARIFICATION' %}selected{% endif %}>Clarification required</option>
        <option value="IN_PROGRESS" {% if task.task.status == 'IN_PROGRESS' %}selected{% endif %}>In progress</option>
        <option value="RESOLVED" {% if task.task.status == 'RESOLVED' %}selected{% endif %}>Resolved</option>
    </select>
</div>

   <div class="mb-3">
    <label class="form-label">Selected Agents</label>
    <div id="selectedAgents{{ task.task.id }}" class="d-flex flex-wrap">
    {% for agent_data in task.agents %}
        <div class="badge m-1
            {% if agent_data.status == 'current' %}bg-primary
            {% elif agent_data.status == 'requested' %}bg-secondary
            {% endif %}"
            data-agent-id="{{ agent_data.agent.id }}" data-org="{{ agent_data.status }}">
            {{ agent_data.agent.user.username }}
            <i class="bi bi-x-circle" style="cursor: pointer;"></i>
        </div>
    {% endfor %}
</div>
         <button type="button" class="mt-2" id="addAgentBtn{{ task.task.id }}" style="background: none; border: none; color: #007bff; font-size: 16px;">
    + Add Agent
</button>

<div id="agentListContainer{{ task.task.id }}" class="mt-2" style="display: none; border: 1px solid #ccc; border-radius: 8px; padding: 10px; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
     <div class="mb-3">
                <label class="form-label">Select Organization</label>
                <select id="organizationSelect{{ task.task.id }}" class="form-select mb-3">
                    <option value="current" selected >Current Organization</option>
                    <option value="other">Other Organizations</option>
                </select>
            </div>

            <input type="text" id="agentSearch" class="form-control mb-2" placeholder="Search for agents..." style="border-radius: 5px;">
            <div id="agentList{{ task.task.id }}" class="list-group">

                {% for agent in my_agents %}
                    <a href="#" class="list-group-item list-group-item-action" data-agent-id="{{ agent.id }}" data-agent-name="{{ agent.user.username }}" data-org="current" style="border-radius: 5px;">
                        <i class="bi bi-person-circle"></i> {{ agent.user.username }}
                    </a>
                {% endfor %}

                {% for agent in other_agents %}
                    <a href="#" class="list-group-item list-group-item-action" data-agent-id="{{ agent.id }}" data-agent-name="{{ agent.user.username }}" data-org="other" style="border-radius: 5px;">
                        <i class="bi bi-person-circle"></i> {{ agent.user.username }}
                    </a>
                {% endfor %}
            </div>
</div>


         <div id="selectedAgentsContainer{{task.task.id }}" style="display: none;"></div>


                    <button type="submit" class="btn btn-dark d-block mx-auto">Save Changes</button>
                </form>
            </div>
        </div>
        </div>
        {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const openAgentList = (taskId) => {
    const agentListContainer = document.getElementById(`agentListContainer${taskId}`);
    if (agentListContainer) {
        agentListContainer.style.display = 'block';
    }
};
document.querySelectorAll('[id^="addAgentBtn"]').forEach(button => {
     button.addEventListener('click', function (e) {
        const taskId = button.id.replace('addAgentBtn', '');
        console.log(taskId);
        openAgentList(taskId);
    });
});


const closeAgentList = (taskId) => {
    const agentListContainer = document.getElementById(`agentListContainer${taskId}`);
    if (agentListContainer) {
        agentListContainer.style.display = 'none';
    }
};

document.querySelectorAll('[id^="agentSearch"]').forEach(input => {
    input.addEventListener('input', function (e) {
        const taskId = e.target.id.replace('agentSearch', '');
        const filter = e.target.value.toLowerCase();
        const agentList = document.getElementById(`agentList${taskId}`);
        const items = agentList.querySelectorAll('.list-group-item');
        items.forEach(item => {
            const agentName = item.getAttribute('data-agent-name').toLowerCase();
            item.style.display = agentName.includes(filter) ? '' : 'none';
        });
    });
});

function isAgentSelected(agentId, taskId) {
    const selectedAgents = document.querySelectorAll(`#selectedAgents${taskId} .badge`);
    for (let agent of selectedAgents) {
        if (agent.dataset.agentId === agentId) {
            return true;
        }
    }
    return false;
}
function removeAgent(agentId, taskId) {

    const badge = document.querySelector(`#selectedAgents${taskId} .badge[data-agent-id="${agentId}"]`);
    if (badge) {
        badge.remove();
    }

    const hiddenInput = document.querySelector(`#form${taskId} input[type="hidden"][data-agent-id="${agentId}"]`);
    if (hiddenInput) {
        hiddenInput.remove();
    }
}

function addAgentToTask(taskId, agentId, agentName, agentOrg) {
    console.log(taskId)
    if( isAgentSelected(agentId,taskId)==false){
        const selectedAgentsContainer = document.getElementById(`selectedAgents${taskId}`);
        if (!selectedAgentsContainer) {
            console.error(`Element #selectedAgents${taskId} not found`);
            return;
        }

        const agentDiv = document.createElement("div");
        agentDiv.classList.add("badge", "m-1");
        agentDiv.textContent = agentName;
        agentDiv.dataset.agentId = agentId;

        if (agentOrg === 'current') {
            agentDiv.classList.add("bg-primary");
        } else {
            agentDiv.classList.add("bg-secondary");
        }

        const removeIcon = document.createElement("i");
        removeIcon.classList.add("bi", "bi-x-circle");
        removeIcon.style.cursor = 'pointer';
        removeIcon.addEventListener('click', function () {
            removeAgent(agentId, taskId);
        });

        agentDiv.appendChild(removeIcon);
        selectedAgentsContainer.appendChild(agentDiv);

        addAgentIdToForm(agentId, taskId);
        closeAgentList(taskId);
    }
    else {
         alert("This agent has already been added.");
    }
}

function addAgentIdToForm(agentId, taskId) {
    const form = document.getElementById(`form${taskId}`);
    console.log(taskId)
    if (form) {
        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'agents[]';
        hiddenInput.value = agentId;
        hiddenInput.dataset.agentId = agentId;
        form.appendChild(hiddenInput);
    } else {
        console.error('Form not found for task ID', taskId);
    }
}
document.addEventListener("DOMContentLoaded", function () {
    function initExistingAgents(taskId) {
        const agentBadges = document.querySelectorAll(`#selectedAgents${taskId} .badge`);
        agentBadges.forEach((badge) => {
            const agentId = badge.dataset.agentId;
            console.log(agentId)
            const agentOrg = badge.dataset.org || "unknown";
            const removeIcon = badge.querySelector("i");

            if (agentId) {
                badge.classList.add("badge", "m-1");

                if (agentOrg === "current") {
                    badge.classList.add("bg-primary");
                } else {
                    badge.classList.add("bg-secondary");
                }
            }
            addAgentIdToForm(agentId, taskId)


            if (removeIcon) {
                removeIcon.addEventListener("click", function () {
                    removeAgent(agentId, taskId);
                });
            }
        });
    }


    document.querySelectorAll('[id^="selectedAgents"]').forEach((agentContainer) => {
        const taskId = agentContainer.id.replace("selectedAgents", "");
        initExistingAgents(taskId);
    });
});

function filterAgents(taskId) {
    const selectedOrg = document.getElementById(`organizationSelect${taskId}`).value;
    const agents = document.querySelectorAll(`#agentList${taskId} .list-group-item`);
    agents.forEach(agent => {
        const agentOrg = agent.getAttribute('data-org');
        if (selectedOrg === 'current' && agentOrg === 'current') {
            agent.style.display = '';
        } else if (selectedOrg === 'other' && agentOrg === 'other') {
            agent.style.display = '';
        } else {
            agent.style.display = 'none';
        }
    });
}

document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('[id^="organizationSelect"]').forEach(select => {
        const taskId = select.id.replace('organizationSelect', '');
        filterAgents(taskId);
    });


    document.querySelectorAll('[id^="organizationSelect"]').forEach(select => {
        select.addEventListener('change', function () {
            const taskId = select.id.replace('organizationSelect', '');
            filterAgents(taskId);
        });
    });
});

document.querySelectorAll('[id^="agentListContainer"]').forEach(agentList => {
    agentList.addEventListener('click', function (e) {
        if (e.target.classList.contains('list-group-item')) {
            const agentId = e.target.getAttribute('data-agent-id');
            const agentName = e.target.getAttribute('data-agent-name');
            const agentOrg = e.target.getAttribute('data-org');
            const taskId = agentList.id.replace('agentListContainer', '');
            addAgentToTask(taskId, agentId, agentName, agentOrg);
        }
    });
});
</script>

</body>
</html>